<a href="https://colab.research.google.com/github/rishabrath31/PythonClass/blob/main/PythonClass1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
marks = int(input("Enter the marks : "))
grade = ''
if marks > 75:
  grade='O'
elif marks > 60 and marks <=75:
    grade = 'A'
elif marks > 50 and marks <=60:
    grade = 'B'
elif marks > 40 and marks <= 50:
   grade= 'C'
else:
   grade = 'D'
print("GRADE = ",grade)

Enter the marks : 60
GRADE =  B

In [5]:
val = 'Hello'
print(val)
val = 100
print(val)
val= 12.2
print(val)

Hello
100
12.2

In [7]:
num = 7
amt = 123.4
code = 'A'
population_of_India = 1000000000000
msg = "Hi"

print("Num = "+str(num))
print("\nAMT = "+str(amt))
print("\nCODE = "+str(code))
print("\nPOPLUPATION OF INDIA"+str(population_of_India))
print("\nMessage = "+str(msg))

Num = 7

AMT = 123.4

CODE = A

POPLUPATION OF INDIA1000000000000

Message = Hi

In [8]:
s1="Good"
s2="Morning"
s1 +=s2
print(s1)

GoodMorning

In [9]:
s = "Hello"
print(s + '4')
print(s * 5)

Hello4
HelloHelloHelloHelloHello

In [10]:
str = 'Python is Easy'
print(s)
print(s[0])
print(s[3:9])
print(s[4:])
print(s[-1])
print(s[:5])
print(s * 2)
print(s + "ISN<T It?")

Hello
H
lo
o
o
Hello
HelloHello
HelloISN<T It?

In [12]:
Dict = {"ITEM" : "CHOCOLATE", "Price": 100}
print(Dict["ITEM"])
print(Dict["Price"])

CHOCOLATE
100

In [13]:
x = input("Enter The First Number:")
y = input("Enter the Second Number:")
print(x+y)

Enter The First Number:2
Enter the Second Number:3
23

In [14]:
x = int(input("Enter The First Number:"))
y = int(input("Enter the Second Number:"))
print(x+y)

Enter The First Number:2
Enter the Second Number:3
5

In [15]:
int(2.90)
round(2.90)

3

In [16]:
fah = float(input("Enter The Tempreture in fahrenheit : "))
cel = (0.56)*(fah-32)
print("Tempreture in degree Celsius= ",cel)

Enter The Tempreture in fahrenheit : 233
Tempreture in degree Celsius=  112.56000000000002