<a href="https://colab.research.google.com/github/rishabrath31/PythonClass/blob/main/PythonclassP5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
year = int(input("Enter The Year : "))
if((year%4==0 and year%100!=0) or (year%400==0)):
 print("Leap Year")
else:
  print("Not a Leap Year")

Enter The Year : 2005
Not a Leap Year

In [3]:
num = int(input("Enter any number from 0-30: "))
if(num>=0 and num<=10):
  print("It is in the range 1-10")
if(num>=10 and num<=20):
  print("It is in the range 10-20")
if(num>=20 and num<=30):
  print("It is in the range 20-30")

Enter any number from 0-30: 4
It is in the range 1-10

In [4]:
num = int(input("Enter any number : "))
if(num==0):
  print("The value is equal to zero: ")
elif(num>0):
  print("The number is positive")
else:
  print("The number is negative")

Enter any number : 3
The number is positive

In [5]:
ch = input("Enter Any Character: ")
if(ch=="A" or ch=="E" or ch=="I" or ch=="O" or ch=="U"):
  print(ch, "is Vowel")
elif(ch=="a" or ch=="e" or ch=="i" or ch=="o" or ch=="u"):
  print(ch,"is vowel")
else:
  print(ch,"is not a VOWEL")

Enter Any Character: w
w is not a VOWEL

In [7]:
num1 = int(input("Enter the First Number: "))
num2 = int(input("Enter the Second Number: "))
num3 = int(input("Enter the Third Number: "))
if(num1>num2):
  if(num1>num3):
    print(num1,"is greater than",num2,"and",num3)
  else:
    print(num3,"is greater than",num1,"and",num2)
elif(num2>num3):
  print(num2,"is greater than",num1,"and",num3)
else:
  print("The three number are equal")

Enter the First Number: 13
Enter the Second Number: 43
Enter the Third Number: 25
43 is greater than 13 and 25

In [8]:
num =int(input("Enter any number from 1-7:"))
if(num==1):print("Sunday")
elif(num==2):print("Monday")
elif(num==3):print("Tuesday")
elif(num==4):print("Wednesday")
elif(num==5):print("Thrusday")
elif(num==6):print("Friday")
elif(num==7):print("Saturday")
else:
  print("Wrong Choice")

Enter any number from 1-7:8
Wrong Choice

In [10]:
i = 1
while(i<=20):
  print("*\n",end="")
  i=i+1

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [14]:
m = int(input("Enter the value of m : "))
n = int(input("Enter the value of n : "))
s = 0
while(m<=n):9
  s=s+m
  m=m+1
print("SUM = ",s)

Enter the value of m : 3
Enter the value of n : 9
SUM =  42

In [19]:
i = 0
while(i<=10):
 print(i ,end= "\t")
 i=i+1

0	1	2	3	4	5	6	7	8	9	10

In [21]:
n= int(input("Enter the number :" ))
s = 0
num = n
while(n>0):
 r = n%10
 s = s+(r**3)
 n = n/10
if(s==num):
  print("The number is armstrong")
else:
  print(num,"The number is not Armstrong")

Enter the number :432
432 The number is not Armstrong