<a href="https://colab.research.google.com/github/rishabrath31/PythonClass/blob/main/PythonclassP9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
for i in range (1,6):
  print("Pass",i,"- ",end=' ')
  for j in range(1,6):
    print(j,end=' ')
  print()

Pass 1 -  1 2 3 4 5
Pass 2 -  1 2 3 4 5
Pass 3 -  1 2 3 4 5
Pass 4 -  1 2 3 4 5
Pass 5 -  1 2 3 4 5

In [3]:
for i in range(5):
  print()
  for j in range(5):
    print("*",end=" ")

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [4]:
for i in range(1,6):
  print()
  for j in range(i):
    print("*",end=' ')

*
* *
* * *
* * * *
* * * * *

In [5]:
for i in range(1,6):
  print()
  for j in range(1,i+1):
    print(j, end= ' ')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [6]:
for i in range(1,6):
  print()
  for j in range(i):
    print(i,end=' ')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [8]:
count = 0
for i in range(1,5):
  print()
  for j in range(1,i+1):
    print(count,end=' ')
    count = count+1

0
1 2
3 4 5
6 7 8 9

In [11]:
for i in range(1,11):
  if(i==5):
    continue
  print(i,end=" ")
print("\n Done")

1 2 3 4 6 7 8 9 10
 Done

In [12]:
def diff(x,y):
  return x-y
a = 10
b = 20
operation = diff
print(operation(a,b))

-10

In [15]:
def func(i,j):
  print("Hello World", i , j)
func(5,6)

Hello World 5 6

In [16]:
def func(i):
  print("Hello World", i)
func(5+2*3)

Hello World 11