<a href="https://colab.research.google.com/github/rishabrath31/PythonClass/blob/main/PythonclassP6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n = int(input("Enter the value of n : "))
avg = 0.0
s = 0
for i in range(1,n+1):
  s = s + i
avg = s/i
print("The sum of first",n,"natural number is",s)
print("The average of first",n,"natural number is ",avg)

Enter the value of n : 10
The sum of first 10 natural number is 55
The average of first 10 natural number is  5.5

In [2]:
n = int(input("Enter the value of n : "))
print("Multiplication Table of",n)
print("----------------------------")
for i in range(1,11):
  print(n," X ",i," = ",n*i)

Enter the value of n : 5
Multiplication Table of 5
----------------------------
5  X  1  =  5
5  X  2  =  10
5  X  3  =  15
5  X  4  =  20
5  X  5  =  25
5  X  6  =  30
5  X  7  =  35
5  X  8  =  40
5  X  9  =  45
5  X  10  =  50

In [5]:
m = int(input("Enter the value of m : "))
n = int(input("Enter the value of n : "))
for i in range(m,n+1):
  if(i%2==0):
   print(i,"is EVEN")
  else:
    print(i,"is ODD")

Enter the value of m : 5
Enter the value of n : 12
5 is ODD
6 is EVEN
7 is ODD
8 is EVEN
9 is ODD
10 is EVEN
11 is ODD
12 is EVEN

In [6]:
num = int(input("Enter The number : "))
if(num==0):
  fact = 1
fact = 1
for i in range(1,num+1):
  fact = fact * i
print("Factorial of",num,"is",fact)

Enter The number : 6
Factorial of 6 is 720

In [8]:
num = int(input("Enter The number"))
isComposite = 0
for i in range(2,num):
  if(num%2==0):
    isComposite = 1
    break
if(isComposite ==1):
  print("Number is Composite")
else:
  print("Number is Prime")

Enter The number5
Number is Prime

In [11]:
total_prime = 0
total_composite = 0

while(1):
  num = int(input("Enter no :"))
  if(num == -1):
    break
  is_composite = 0
  for i in range(2,num):
    if(num%i == 0):
      is_composite =1
      break
  if(is_composite):
    total_composite+=1
  else:
      total_prime+=1
print("total composite : ",total_composite)
print("total prime : ",total_prime)

Enter no :4
Enter no :5
Enter no :6
Enter no :7
Enter no :8
Enter no :9
Enter no :10
Enter no :11
Enter no :35
Enter no :76
Enter no :-1
total composite :  7
total prime :  3

In [12]:
num = int(input("Enter the Number : "))
n = int(input("Till which power to Calculate?"))
result =1
for i in range(n):
  result = result*num
print(num,"raised to the power ",n,"is",result)

Enter the Number : 2
Till which power to Calculate?5
2 raised to the power  5 is 32

In [13]:
print("Leap Years from 1900-2101 are :")
for i in range(1900,2101):
  if(i%4==0):
    print(i,end=' ')

Leap Years from 1900-2101 are :
1900 1904 1908 1912 1916 1920 1924 1928 1932 1936 1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000 2004 2008 2012 2016 2020 2024 2028 2032 2036 2040 2044 2048 2052 2056 2060 2064 2068 2072 2076 2080 2084 2088 2092 2096 2100

In [14]:
n = int(input("Enter the Number: "))
s = 0.0
for i in range(1,n+1):
  a = 1.0/i
  s = s+a
print("The Sum of 1,1/2...1/"+str(n)+" is "+str(s))

Enter the Number: 5
The Sum of 1,1/2...1/5 is 2.283333333333333

In [15]:
n = int(input("Enter the number :"))
s =0.0
for i in range(1,n+1):
  a = 1.0/(i**2)
  s = s+a
print("The sum of Series is",s)

Enter the number :5
The sum of Series is 1.4636111111111112