## Data types

### Numbers

In [2]:
1 + 1

2

In [3]:
1 * 3

3

In [ ]:
1 / 2

In [ ]:
2 ** 4

In [ ]:
4 % 2

In [ ]:
5 % 2

In [ ]:
(2 + 3) * (5 + 5)

### Variable Assignment

In [ ]:
# Can not start with number or special characters
name_of_var = 2

In [ ]:
x = 2
y = 3

In [ ]:
z = x + y

In [ ]:
z

### Strings

In [ ]:
'single quotes'

In [ ]:
"double quotes"

In [ ]:
" wrap lot's of other quotes"

### Printing

In [ ]:
x = 'hello'

In [ ]:
x

In [ ]:
print(x)

In [ ]:
num = 12
name = 'Sam'

In [ ]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

In [ ]:
print('My number is: {}, and my name is: {}'.format(num,name))

### Lists

In [ ]:
[1,2,3]

In [ ]:
['hi',1,[1,2]]

In [ ]:
my_list = ['a','b','c']

In [ ]:
my_list.append('d')

In [ ]:
my_list

In [ ]:
my_list[0]

In [ ]:
my_list[1]

In [ ]:
my_list[1:]

In [ ]:
my_list[:1]

In [ ]:
my_list[0] = 'NEW'

In [ ]:
my_list

In [ ]:
nest = [1,2,3,[4,5,['target']]]

In [ ]:
len(nest)

In [ ]:
nest[3]

In [ ]:
nest[3][2]

In [ ]:
nest[3][2][0]

### Dictionaries

In [4]:
d = {'key1':'item1','key2':'item2'}

In [5]:
d

{'key1': 'item1', 'key2': 'item2'}

In [6]:
d['key1']

'item1'

### Booleans

In [ ]:
True

In [ ]:
False

### Tuples

In [7]:
t = (1,2,3)

In [8]:
type(t)

tuple

In [9]:
a= list(t)

In [10]:
type(a)

list

In [ ]:
a[0] = 'NEW'

In [ ]:
a

In [ ]:
t[0]

In [ ]:
a[0]

In [ ]:
t[0] = 'NEW'

### Sets

In [11]:
{1,2,3}

{1, 2, 3}

In [12]:
S= {1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

In [13]:
len(S)

3

In [14]:
S

{1, 2, 3}

## Comparison Operators

In [ ]:
1 > 2

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [ ]:
1 == 1

In [ ]:
'hi' == 'bye'

## Logic Operators

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
(1 > 2) or (2 < 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

## if,elif, else Statements

In [ ]:
if 1 < 2:
    print('Yep!')

In [ ]:
if 1 < 2:
    print('yep!')

In [ ]:
if 1 < 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 > 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

## for Loops

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
for item in seq:
    print(item)

In [ ]:
for item in seq:
    print('Yep')

In [ ]:
for jelly in seq:
    print(jelly+jelly)

## while Loops

In [ ]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

## range()

In [15]:
range(5)

range(0, 5)

In [16]:
for i in range(5):
    print(i)

0
1
2
3
4

In [17]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [18]:
x = [1,2,3,4]

In [19]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [20]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [ ]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [ ]:
my_func

In [ ]:
my_func()

In [ ]:
my_func('new param')

In [ ]:
my_func(param1='new param')

In [ ]:
def square(x):
    return x**2

In [ ]:
out = square(2)

In [ ]:
print(out)

## lambda expressions

In [21]:
def times2(var):
    return var*2

In [22]:
times2(2)

4

In [23]:
lambda var: var*2

## map and filter

In [24]:
seq = [1,2,3,4,5]

In [25]:
map(times2,seq)

In [26]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [27]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [28]:
filter(lambda item: item%2 == 0,seq)

In [29]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [30]:
st = 'hello my name is Sam'

In [31]:
st.lower()

'hello my name is sam'

In [32]:
st.upper()

'HELLO MY NAME IS SAM'

In [33]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [34]:
tweet = 'Go Sports! #Sports'

In [35]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [36]:
tweet.split('#')[1]

'Sports'

In [37]:
d.keys()

dict_keys(['key1', 'key2'])

In [38]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [39]:
lst = [1,2,3]

In [40]:
lst.pop()

3

In [41]:
lst

[1, 2]

In [42]:
'x' in [1,2,3]

False

In [43]:
'x' in ['x','y','z']

True

# Great Job!

In [45]:
# Read a dataset with missing values
import pandas as pd
flights = pd.read_csv("http://rcs.bu.edu/examples/python/data_analysis/flights.csv")

In [46]:
# Select the rows that have at least one missing value
flights[flights.isnull().any(axis=1)].head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
330,2013,1,1,1807.0,29.0,2251.0,NaN,UA,N31412,1228,EWR,SAN,NaN,2425,18.0,7.0
403,2013,1,1,NaN,NaN,NaN,NaN,AA,N3EHAA,791,LGA,DFW,NaN,1389,NaN,NaN
404,2013,1,1,NaN,NaN,NaN,NaN,AA,N3EVAA,1925,LGA,MIA,NaN,1096,NaN,NaN
855,2013,1,2,2145.0,16.0,NaN,NaN,UA,N12221,1299,EWR,RSW,NaN,1068,21.0,45.0
858,2013,1,2,NaN,NaN,NaN,NaN,AA,NaN,133,JFK,LAX,NaN,2475,NaN,NaN

In [47]:
flights.iloc[1:3]

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0

In [48]:
flights.loc[1:3]

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0

In [49]:
flights.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
4,2013,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0

In [50]:
flights.head(10)

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
4,2013,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0
5,2013,1,1,558.0,-2.0,753.0,8.0,AA,N3ALAA,301,LGA,ORD,138.0,733,5.0,58.0
6,2013,1,1,558.0,-2.0,924.0,7.0,UA,N29129,194,JFK,LAX,345.0,2475,5.0,58.0
7,2013,1,1,558.0,-2.0,923.0,-14.0,UA,N53441,1124,EWR,SFO,361.0,2565,5.0,58.0
8,2013,1,1,559.0,-1.0,941.0,31.0,AA,N3DUAA,707,LGA,DFW,257.0,1389,5.0,59.0
9,2013,1,1,559.0,-1.0,854.0,-8.0,UA,N76515,1187,EWR,LAS,337.0,2227,5.0,59.0

In [51]:
flights.tail()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
160749,2013,9,30,2105.0,-1.0,2329.0,-25.0,UA,N477UA,475,EWR,IAH,175.0,1400,21.0,5.0
160750,2013,9,30,2121.0,21.0,2349.0,-25.0,DL,N193DN,2363,JFK,LAX,296.0,2475,21.0,21.0
160751,2013,9,30,2140.0,0.0,10.0,-30.0,AA,N335AA,185,JFK,LAX,298.0,2475,21.0,40.0
160752,2013,9,30,2149.0,-7.0,2245.0,-23.0,UA,N813UA,523,EWR,BOS,37.0,200,21.0,49.0
160753,2013,9,30,2233.0,80.0,112.0,42.0,UA,N578UA,471,EWR,SFO,318.0,2565,22.0,33.0

In [52]:
flights.tail(7)

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
160747,2013,9,30,2055.0,-4.0,2158.0,-13.0,UA,N16701,1066,EWR,BOS,40.0,200,20.0,55.0
160748,2013,9,30,2057.0,-3.0,2149.0,-22.0,US,N953UW,2164,LGA,BOS,35.0,184,20.0,57.0
160749,2013,9,30,2105.0,-1.0,2329.0,-25.0,UA,N477UA,475,EWR,IAH,175.0,1400,21.0,5.0
160750,2013,9,30,2121.0,21.0,2349.0,-25.0,DL,N193DN,2363,JFK,LAX,296.0,2475,21.0,21.0
160751,2013,9,30,2140.0,0.0,10.0,-30.0,AA,N335AA,185,JFK,LAX,298.0,2475,21.0,40.0
160752,2013,9,30,2149.0,-7.0,2245.0,-23.0,UA,N813UA,523,EWR,BOS,37.0,200,21.0,49.0
160753,2013,9,30,2233.0,80.0,112.0,42.0,UA,N578UA,471,EWR,SFO,318.0,2565,22.0,33.0

In [53]:
len(flights)

160754

In [54]:
flights.shape

(160754, 16)

In [55]:
flights.describe()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,flight,air_time,distance,hour,minute
count,160754.0,160754.000000,160754.000000,158418.000000,158418.000000,158275.000000,157927.000000,160754.000000,157927.000000,160754.000000,158418.000000,158418.000000
mean,2013.0,6.547395,15.716567,1316.146006,9.463773,1517.471161,2.094537,1156.344987,180.685158,1282.445420,12.837582,32.387847
std,0.0,3.410001,8.762794,470.823715,36.545109,510.695413,41.479349,695.884283,97.507866,765.895383,4.725552,18.687423
min,2013.0,1.000000,1.000000,1.000000,-33.000000,1.000000,-75.000000,1.000000,21.000000,17.000000,0.000000,0.000000
25%,2013.0,4.000000,8.000000,855.000000,-5.000000,1112.000000,-19.000000,504.000000,111.000000,733.000000,8.000000,16.000000
50%,2013.0,7.000000,16.000000,1345.000000,-2.000000,1541.000000,-7.000000,1157.000000,153.000000,1076.000000,13.000000,32.000000
75%,2013.0,10.000000,23.000000,1725.000000,7.000000,1944.000000,9.000000,1715.000000,258.000000,1728.000000,17.000000,51.000000
max,2013.0,12.000000,31.000000,2400.000000,1014.000000,2400.000000,1007.000000,2599.000000,695.000000,4963.000000,24.000000,59.000000

In [57]:
flights['arr_delay'].value_counts()

-13.0     3526
-14.0     3515
-10.0     3467
-15.0     3413
-12.0     3403
          ...
 878.0       1
 614.0       1
 612.0       1
 449.0       1
 410.0       1
Name: arr_delay, Length: 528, dtype: int64

In [2]:
auto_sur_1 = set(['Audi','BMW','BMW','FERARRI','GM','Mercedes','Chevervolt','GM','Toyota'])
auto_sur_2 = set(['BMW','Ferrari','GM','Hyundai','Kia','Chevervolt','Gm','Ford','Toyota','Zen'])

In [3]:
combines_sur_report = auto_sur_1 | auto_sur_2

In [4]:
combines_sur_report

{'Audi',
 'BMW',
 'Chevervolt',
 'FERARRI',
 'Ferrari',
 'Ford',
 'GM',
 'Gm',
 'Hyundai',
 'Kia',
 'Mercedes',
 'Toyota',
 'Zen'}

In [7]:
combines_sur_report = auto_sur_1 & auto_sur_2
combines_sur_report

{'BMW', 'Chevervolt', 'GM', 'Toyota'}

In [8]:
student_list = ['Tom','Jack','Nick','Sarah','Nicola']

In [10]:
'Nick' in student_list

True

In [11]:
'Mark' in student_list

False

In [13]:
word = 'encylopedia'

In [14]:
't' in word

False

In [15]:
'i' in word

True

In [16]:
test_score_1 = (68,96,71)
test_score_2 = (92,87,83)

In [18]:
test_score = test_score_1+test_score_2
test_score

(68, 96, 71, 92, 87, 83)

In [19]:
country_list_1 = ['USA','UK','CHINA','BRAZIL','MEXICO']
country_list_2 = ['Australia','Spain','Italy']

In [21]:
country_list_final = country_list_1+country_list_2
country_list_final

['USA', 'UK', 'CHINA', 'BRAZIL', 'MEXICO', 'Australia', 'Spain', 'Italy']

In [26]:
first_name = 'George'
last_name = 'Wastington'

In [30]:
full_name = first_name+' '+last_name

In [31]:
full_name

'George Wastington'